body {
	padding-left: 7%;
	padding-right: 7%;
}

.toolbar {
	padding: 7 25 7 25;
}

.toolbar label, .toolbar a {
	font-size: 15px !important;
}

.toolbar input {
	height: 26px;
	width: 100px;
	margin-right: 10px;
	font-size: 15px !important;
	padding-top: 0px;
	padding-bottom: 0px;
}

.banner {
	background-image: url("../img/banner.png");
    background-size: 100%;
    width: 100%;
	height: 275px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: 0 -45;
}

.ui-messages {
	font-size: 12px !important;
}